<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% include common_head.html %}
</head>

<body>
    {% capture layout_content %}
    {% for post in site.posts %}
    <div class="post postPreview">
        <a href="{{ post.url }}">
            <h1 class="sectionTitle">{{ post.title }}</h1>
        </a>

        <span class="header_divider" />

        {{ post.excerpt }}
    </div>
    {% endfor %}

    {% endcapture %}

    {% include common_layout.html %}
</body>

</html>