<aside id="leftSidebar" style="margin-right: 10px;">
    {% include temp_nav.html %}
    <h2>Updates</h2>
    <div class="box">
        <p>I have recently updated this tool as of August 2022!</p>
        <ul style="padding-left:10px;">
            <li>Rewrote the JS to generate cleaner code</li>
            <li>Rewrote the CSS in a way that hopefully makes much more sense to edit</li>
            <li>Added a couple of new features!</li>
            <li>Old version is still available <a href="old.html" target="_blank">here</a></li>
        </ul>
    </div>
    <h2>Hi there!</h2>
    <h3>Other Tools</h3>
    <ul>
        <li><a href="https://sadgrlonline.github.io/html-cheatsheet/" target="_blank">HTML Cheatsheet</a>
        </li>
        <li><a href="/sadgrl/webmastery/webmaster-links.html" target="_blank">Webmaster Links</a></li>
        <li><a href="/sadgrl/webmastery/downloads/tiledbgs.html" target="_blank">Tiled BGs</a></li>
        <li><a href="/sadgrl/webmastery/downloads/fonts.html" target="_blank">Fonts</a></li>
        <li><a href="/sadgrl/projects/ideas/" target="_blank">Site Ideas</a></li>
    </ul>
</aside>