@import url("/assets/css/images.css");

:root {
    --content: #43256E;
    --center-background: ;
    --navigation-background: ;
    --highlight-text: #ED64F5;
    --link-text: #ED64F5;
    --link-hover-text: #A49CBA;
    --divider: #A49CBA;
    --post-background: #43065b;
    --nonpost-background: #53276d;
    --header-text: var(--highlight-text);
    --header-background-color: #5e4e8c;
    --page-background-color: #08031A;
    --gutter-size: 1em;
}

/* fonts */
@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: var(--page-background-color);
    color: #fceaff;
}

* {
    box-sizing: border-box;
}

/* the "container" is what wraps your entire website */
#container {
    margin: 0 auto;
}

/* the area below is for all links on your page
EXCEPT for the navigation */
#container a {
    color: var(--link-text);
    font-weight: bold;
    /* text-decoration:none; */
}

#header {
    width: 100%;
    background-color: var(--header-background-color);
    height: 150px;
}

#header h1 {
    color: var(--header-text);
}

#headerArea {
    margin-bottom: var(--gutter-size);
}

h1.sectionTitle {
    margin-top: 0;
    padding-top: 0.5em;
}

#navbar {
    height: 40px;
    background-color: #13092D;
    /* navbar color */
    width: 100%;
}

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#navbar li {
    padding-top: 10px;
}

/* navigation links*/
#navbar li a {
    color: var(--link-text);
    /* navbar text color */
    font-weight: 800;
    text-decoration: none;
    /* this removes the underline */
}

/* navigation link when a link is hovered over */
#navbar li a:hover {
    color: var(--link-hover-text);
    text-decoration: underline;
}

#flex {
    display: flex;
}

#leftSidebar {
    background-color: #241445;
    width: 200px;
    font-size: smaller;
    padding: 1em;
}


/* this is the color of the main content area,
between the sidebars! */
#center {
    background-color: var(--nonpost-background);
    flex: 1;
    order: 2;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
}

.post {
    background-color: var(--post-background);
    padding: 1em;
    margin-bottom: 1em;
}

.postPreview {}

.wholePost {
    width: 100%;
    height: 100%;
}

/* what's this "order" stuff about??
allow me to explain!
if you're using both sidebars, the "order" value
tells the CSS the order in which to display them.
left sidebar is 1, content is 2, and right sidebar is 3! */

#footer {
    background-color: #13092D;
    width: 100%;
    height: 3em;
    padding: 10px;
    margin-top: 10px;
}

h1,
h2,
h3 {
    color: var(--highlight-text);
}

h1 {
    font-size: 25px;
}

strong {
    color: var(--highlight-text);
}

.box {
    background-color: #13092D;
    border: 1px solid #ED64F5;
    padding: 10px;
}

#topBar {
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: smaller;
    background-color: #13092D;
}

@media only screen and (orientation: landscape) {
    #container {
        max-width: 80vw;
    }

    #leftSidebar {
        #expander {
            display: none;
        }

        margin-right: var(--gutter-size);
    }
}

@media only screen and (orientation: portrait) {
    #container {
        max-width: 80vw;
    }

    #flex {
        flex-wrap: wrap;
    }

    #leftSidebar {
        width: 100%;

        & #expanded {
            display: none;

        }

        & #expanded.active {
            display: block;
        }

    }

    #navbar ul {
        flex-wrap: wrap;
    }
}

span.header_divider {
    display: inline-block;
    background-color: var(--divider);
    width: 100%;
    height: 0.5em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}