@import url("/assets/css/images.css");

:root {
    --content: #43256E;
    --center-background: ;
    --navigation-background: ;
    --highlight-text: #ED64F5;
    --link-text: #ED64F5;
    --link-hover-text: #A49CBA;
    --divider: #A49CBA;
}

/* fonts */
@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: #08031A;
    color: #fceaff;
}

* {
    box-sizing: border-box;
}

/* the "container" is what wraps your entire website */
/* if you want something (like the header) to be Wider than
the other elements, you will need to move that div outside
of the container */
#container {
    max-width: 900px;
    /* this is the width of your layout! */
    /* if you change the above value, scroll to the bottom
and change the media query according to the comment! */
    margin: 0 auto;
    /* this centers the entire page */
}

/* the area below is for all links on your page
EXCEPT for the navigation */
#container a {
    color: var(--link-text);
    font-weight: bold;
    /* if you want to remove the underline
you can add a line below here that says:
text-decoration:none; */
}

#header {
    width: 100%;
    background-color: #5e4e8c;
    /* header color here! */
    height: 150px;
}

#header h1 {
    color: var();
}

/* navigation section!! */
#navbar {
    height: 40px;
    background-color: #13092D;
    /* navbar color */
    width: 100%;
}

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#navbar li {
    padding-top: 10px;
}

/* navigation links*/
#navbar li a {
    color: var(--link-text);
    /* navbar text color */
    font-weight: 800;
    text-decoration: none;
    /* this removes the underline */
}

/* navigation link when a link is hovered over */
#navbar li a:hover {
    color: var(--link-hover-text);
    text-decoration: underline;
}

#flex {
    display: flex;
}

#leftSidebar {
    background-color: #241445;
    width: 200px;
    padding: 20px;
    font-size: smaller;
}


/* this is the color of the main content area,
between the sidebars! */
#center {
    background-color: #43256E;
    flex: 1;
    padding: 20px;
    order: 2;
}

/* what's this "order" stuff about??
allow me to explain!
if you're using both sidebars, the "order" value
tells the CSS the order in which to display them.
left sidebar is 1, content is 2, and right sidebar is 3! */

#footer {
    background-color: #13092D;
    /* background color for footer */
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
    /* this centers the footer text */
}

h1,
h2,
h3 {
    color: var(--highlight-text);
}

h1 {
    font-size: 25px;
}

strong {
    color: var(--highlight-text);
}

.box {
    background-color: #13092D;
    border: 1px solid #ED64F5;
    padding: 10px;
}

#topBar {
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: smaller;
    background-color: #13092D;
}

@media only screen and (orientation: landscape) {
    #leftSidebar {
        #expander {
            display: none;
        }
    }
}

@media only screen and (orientation: portrait) {
    #flex {
        flex-wrap: wrap;
    }

    #leftSidebar {
        width: 100%;

        & #expanded {
            display: none;

        }

        & #expanded.active {
            display: block;
        }

    }

    #navbar ul {
        flex-wrap: wrap;
    }
}

span.header_divider {
    display: inline-block;
    background-color: var(--divider);
    width: 100%;
    height: 0.5em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}