img.halfimage {
    max-width: 40%;
    float: left;
    position: relative;
    margin-right: 5%;
}

img.fullimage {
    max-width: 85%;
    float: left;
    position: relative;
    margin-right: 5%;
}

div.image-container {
    display: flex;
    flex-wrap: wrap;
}