img.thirdimage {
    max-width: 20%;
    float: left;
    position: relative;
    margin-right: 2%;
    padding-right: 0;
}

div.halfimage-element {
    max-width: 30%;
    align-content: flex-start;
    margin-right: 2%;
    padding-right: 0;
}

img.halfimage {
    max-width: 30%;
    float: left;
    position: relative;
    margin-right: 2%;
    padding-right: 0;
}

div.flexyimage-element {
    float: left;
    max-width: 50%;
    max-height: 100%;
}

img.ar43 {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 12 / 3;
}

img.ar34 {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 3 / 4;
}

img.fullimage {
    max-width: 62%;
    float: left;
    position: relative;
    margin-right: 5%;
}

div.image-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}